@{
    ViewData["Title"] = "ასოციაციის შესახებ";
}

<div class="row">
    <div class="col-md-12">
        <div class="widget-item">
            <h2 class="welcome-text">ინფორმაცია ოლიმპიადის შესახებ</h2>
            <p>
                საქართველოს განათლებისა და მეცნიერების სამინისტროს დაკვეთით 2017 წელს “საინფორმაციო ტექნოლოგიების სწავლების და ინფორმატიკის ოლიმპიადების მხარდამჭერი ასოციაცია” საკუთარი დაფინანსებით ორგანიზებას უწევს ტურნირს ეროვნულ დონეზე ინფორმატიკაში (GEOI'2017) და ასევე, აკომპლექტებს საქართველოს ეროვნულ ნაკრებს, რომელიც გაემგზავრება ინფორმატიკის საერთაშორისო ოლიმპიადაზე (IOI) ირანში. ოლიმპიადაში მონაწილეობა და ნაკრების გამგზავრება ირანში სრულად არის დაფინანსებული.
            </p>

            
            <p>
                მონაწილეს პროგრამული კოდის დაწერა და გამართვა

                მოეთხოვება დაპროგრამების ენა C++-ის გამოყენებით (საერთაშორისო

                ოლიმპიადის მოთხოვნების თანახმად).
            </p>
        </div> <!-- /.widget-item -->
    </div> <!-- /.col-md-12 -->
</div> <!-- /.row -->

<div class="row">
    <div class="col-md-12">
        <div class="widget-item"> 
            <h2 class="welcome-text">ეროვნულ დონეზე ინფორმატიკის ტურნირის ორგანიზება</h2>
            <p>
                ტურნირში მონაწილეობის მიღების უფლება აქვთ საქართველოს საჯარო ან კერძო სკოლის მოსწავლეებს, რომლებიც 2016-2017 სასწავლო წლის მდგომარეობით იმყოფებიან მე-7, მე-8, მე-9, მე-10, მე-11 და მე-12 კლასებში.
            </p>
        </div> <!-- /.widget-item -->
    </div> <!-- /.col-md-12 -->
</div> <!-- /.row -->

<div class="row">
    <div class="col-md-12">
        <div class="widget-item">
            <h2 class="welcome-text">ტურნირის ჩატარების ფორმატი</h2>
            <p>
                ტურნირი ტარდება ორ ეტაპად 3 ასაკობრივ კატეგორიაში: <br /> <br />

                I ასაკობრივი კატეგორიაა 7-8 კლასები, <br />

                II ასაკობრივი კატეგორიაა 9-10 კლასები, <br />

                III ასაკობრივი კატეგორიაა 11-12 კლასები. <br /> <br />

                პირველი ეტაპი არის დაუსწრებელი ფორმატის, ხოლო მეორე - დასწრებული. მეორე დასწრებულ ეტაპზე I და II ასაკობრივი ჯგუფისთვის ტარდება ერთი ტური, ხოლო III ასაკობრივი ჯგუფისთვის 2 დასწრებული ტური.
            </p>
        </div> <!-- /.widget-item -->
    </div> <!-- /.col-md-12 -->
</div> <!-- /.row -->

<div class="row">
    <div class="col-md-12">
        <div class="widget-item">
            <h2 class="welcome-text">სატურნირო ამოცანები</h2>
            <p>
                პირველი და მეორე ეტაპის ამოცანები მოსწავლისგან მოითხოვს ალგორითმიზაციის საფუძვლების და პროგრამული კოდის შედგენის ცოდნას. მონაწილეთა ნაშრომების შეფასება როგორც დასწრებულ ისე დაუსწრებელ ტურებზე მოხდება ავტომატიზებული მატესტირებელი პროგრამით.
            </p>
        </div> <!-- /.widget-item -->
    </div> <!-- /.col-md-12 -->
</div> <!-- /.row -->

<div class="row">
    <div class="col-md-12">
        <div class="widget-item">
            <h2 class="welcome-text">გამარჯვებულების გამოვლენა</h2>
            <p>
                პირველი ეტაპის გამარჯვებულად ჩაითვლება მოსწავლე, რომელმაც, შესაბამის ასაკობრივ კატეგორიაში, მოაგროვა მაქსიმალური ქულის 50% და მეტი; ტურნირის საბოლოო გამარჯვებულად ჩაითვლება მონაწილე, რომელმაც მეორე ეტაპზე, შესაბამის ასაკობრივ კატეგორიაში, მოაგროვა მაქსიმალური ქულის 60% და მეტი და მოხვდა რანჟირებული სიის ათეულში. ქულათა თანხვედრის შემთხვევაში რანჟირებული სიის მომზადებისას გათვალისწინებული იქნება პირველი ეტაპის შედეგი, თუ ამ შემთხვევაშიც დაფიქსირდება თანხვედრა, გათვალისწინებული იქნება მეორე ეტაპზე მონაწილის მიერ ამოცანების ამოხსნაზე დახარჯული დროის ჯამური ხანგრძლივობა. კონკურსანტებს ექნებათ შედეგების აპელაციის შესაძლებლობა კონკრეტული ეტაპის ჩატარების შემდეგი დღის 15:00 საათამდე, ხოლო აპელაციის შედეგების შესახებ ცნობილი გახდება აპელაციების მიღების ვადის ამოწურვიდან 48 საათის განმავლობაში. ტურნირის გამარჯვებულების დაჯილდოების პირობებს განსაზღვრავს საქართველოს განათლებისა და მეცნიერების სამინისტრო.
            </p>
        </div> <!-- /.widget-item -->
    </div> <!-- /.col-md-12 -->
</div> <!-- /.row -->

<div class="row">
    <div class="col-md-12">
        <div class="widget-item">
            <h2 class="welcome-text">ინფორმატიკის საერთაშორისო ოლიმპიადისთვის საქართველოს ნაკრები გუნდის დაკომპლექტება</h2>
            <p>
                "საინფორმაციო ტექნოლოგიების სწავლების და ინფორმატიკის ოლიმპიადების მხარდამჭერი ასოციაცია" უზრუნველყოფს საქართველოს ნაკრები გუნდის დაკომპლექტებას ინფორმატიკის საერთაშორისო ოლიმპიადაში (IOI) მონაწილეობის მისაღებად. გუნდი შედგება 4 ძირითადი და 4 სარეზერვო წევრისგან. <br />
                შესარჩევ ტურებში მონაწილეობის მიღება შეუძლიათ: <br />
                ა) მოსწავლეებს, რომლებმაც მე-11 და მე-12 კლასების ინფორმატიკის ზემოაღნიშნულ ტურნირში დაიკავეს 1-10 ადგილი და დააგროვეს მაქსიმალურ ქულათა არანაკლებ 1/3-ისა; <br />
                ბ) მოსწავლეებს, რომლებმაც მე-9 და მე-10 კლასების ინფორმატიკის ზემოაღნიშნულ ტურნირში დაიკავეს 1-10 ადგილი და დააგროვეს მაქსიმალურ ქულათა არანაკლებ 1/3-ისა; <br />
                გ) მოსწავლეებს, რომლებმაც მე-7 და მე-8 კლასების ინფორმატიკის ზემოაღნიშნულ ტურნირში დაიკავეს 1-10 ადგილი და დააგროვეს მაქსიმალურ ქულათა არანაკლებ 1/3-ისა; <br />
                ნაკრების წევრთა შერჩევა მოხდება ორ ტურად. ყოველ ტურზე ინფორმატიკის ნაკრები გუნდის წევრობის კანდიდატებს მიეცემათ სამი ამოცანა (სულ 6 ამოცანა), რომელთა ამოხსნისათვის კანდიდატებმა უნდა შეადგინონ პროგრამა (ე.წ. კომპიუტერული კოდი). თითოეულ შესარჩევ ტურში მონაწილეებს ამოცანების ამოსახსნელად მიეცემათ 5 (ხუთი) ასტრონომიული საათი. მოსწავლეთა შედგენილი პროგრამები შემოწმდება წინასწარ მომზადებული ტესტებით (ავტომატიზებული მატესტირებელი პროგრამები), რომლებიც ამოწმებენ რამდენად სწორად შეადგინა კონკურსანტმა ამოცანის ამოსახსნელი კომპიუტერული კოდი (პროგრამა). ინფორმატიკაში ნაკრები გუნდის საბოლოო შემადგენლობა დადგინდება პირველ და მეორე ტურში მიღებული ქულათა საერთო ჯამის მიხედვით. ამ შემთხვევაში გათვალისწინებული იქნება საპრეტენზიო განაცხადების განხილვის შედეგად ქულებში მიღებული ცვლილებები.
            </p>

            <p>ინფორმატიკაში საქართველოს ნაკრები გუნდის წევრები იქნებიან ის მოსწავლეები, რომლებიც რეიტინგული სიის მიხედვით დაიკავებენ პირველიდან მე-4 ადგილებს. შესარჩევ ტურებში თანაბარი ქულების მიღების შემთხვევაში უპირატესობა მიენიჭება ამოცანების ამოხსნისთვის დახარჯული ჯამური დროის სიმცირეს. რეიტინგულ სიაში მომდევნო ოთხი მოსწავლე გახდება ინფორმატიკაში საქართველოს ნაკრები გუნდის რეზერვისტი. იმ შემთხვევაში, თუ რეზერვისტებს შორის არიან მე-12 კლასელები, წვრთვნას მათ ნაცვლად გაივლიან რეზერვისტებს შორის არმოხვედრილი რეიტინგული სიის მომდევნო უმცროს კლასელები.</p>
        </div> <!-- /.widget-item -->
    </div> <!-- /.col-md-12 -->
</div> <!-- /.row -->