@{
    ViewData["Title"] = "Contact";
}

<div class="row">
    <div class="col-md-12">
        <div class="widget-item">
            <h2 class="welcome-text">კონტაქტი</h2>
            <div class="extra-info">
                <dl>
                    <dt>იურიდიული მისამართი:</dt>
                    <dd>თბილისი, მეუნარგიას ქ. N73, ბ. 19</dd>
                    <dt>ტელეფონი:</dt>
                    <dd>599429234</dd>
                    <dt>E-mail:</dt>
                    <dd>mandariag@gmail.com</dd>
                    <dt>გამგეობის თავმჯდომარე:</dt>
                    <dd>გიორგი მანდარია</dd>
                </dl>
            </div>
        </div> <!-- /.widget-item -->
    </div> <!-- /.col-md-12 -->
</div> <!-- /.row -->