@{
    ViewData["Title"] = "GEOI2018";
}
<style>
    #map {
        height: 400px;
        width: 100%;
    }
</style>



<div class="row">

    <!-- Here begin Main Content -->
    <div class="col-md-12">

        <div class="list-event-item">
            <div class="box-content-inner clearfix">

                <div class="list-event-header">
                    <span class="event-date small-text"><i class="fa fa-calendar-o"></i>11 აპრილი, 2017</span>
                </div>
                <h5 class="event-title">საქართველოს მოსწავლეთა ეროვნული ნაკრების შესარჩევი ტურების საბოლოო შედეგები...</h5>

                <p>
                    <a href="~/files/results/shesarchevi res.pdf">შედეგები</a> </br>
                </p>

                <p>
                    პირველ ოთხ ადგილზე გასულ მოსწავლეებს რეკომენდაცია მიეცემათ საქართველოს მოსწავლეთა ეროვნულ ნაკრებში, ხოლო მომდევნო ოთხ მოსწავლეს რეზერვში ჩასარიცხად. გარდა ამისა, 2002 წლის პირველი იანვრიდან დაბადებული ის მოსწავლეები, რომლებიც ამ ასაკის ბავშვებს შორის მოხვდნენ პირველ ოთხეულში (ნიკა ბირკაძე, თეიმურაზი თოლორაია, იოანე კაპანაძე, გიორგი კობახია), ჩაითვლებიან საქართველოს მოსწავლეთა  ახალგაზრდული ნაკრების წევრებად, რომელიც საჭირო დაფინანსების მოპოვების შემთხვევაში გაემგზავრება ინფორმატიკაში სრულიად ევროპის ახალგაზრდულ <a href="http://ejoi.org">ოლიმპიადაზე </a>, რომელიც გაიმართება ბულგარეთის ქალაქ სოფიაში ამა წლის 7-13 სექტემბერს.
                </p>

                <p>
                    "საინფორმაციო ტექნოლოგიების სწავლების და ინფორმატიკის ოლიმპიადების მხარდამჭერი ასოციაცია" გისურვებთ წარმატებებს!
                    უახლოეს მომავალში საიტზე დაიდება ყველა ტურში გამოყენებული ამოცანების სრული კომპლექტი ამოხსნებით და ტესტებით.
                </p>
            

            </div> <!-- /.box-content-inner -->
        </div>

        <div class="list-event-item">
            <div class="box-content-inner clearfix">

                <div class="list-event-header">
                    <span class="event-date small-text"><i class="fa fa-calendar-o"></i>6 აპრილი, 2017</span>
                </div>
                <h5 class="event-title">შესარჩევი ტურები</h5>

                <p>

                    ინფორმატიკაში საქართველოს მოსწავლეთა ეროვნული ნაკრების შესარჩევი ტურები გაიმართება ა.წ. <strong>8 და 9</strong> აპრილს შავი ზღვის საერთაშორისო უნივერსიტეტში.
                </p>

                <p>
                    ნაკრების შესარჩევ ტურებზე თითოეული ასაკობრივი ჯგუფიდან დაშვებულია ის მოსწავლეები, რომლებიც დასკვნითი ტურის შედეგების მიხედვით მოხვდნენ პირველ ათეულში და დააგროვეს მაქსიმალური ქულის არანაკლებ 1/3 (უფროსებში 200 ქულა, საშუალო და უმცროს ასაკობრივ ჯგუფებში 100 ქულა).
                </p>
                
                <p>
                    განრიგი ასეთია:
                </p>

                <p>
                    <strong>8 აპრილი</strong> - პირველი ტური:</br>
                    <strong>8:00</strong> - მონაწილეთა უნივერსიტეტში გამოცხადების დრო;
                    </br>
                    <strong>8:00-8:30</strong> - მონაწილეთა რეგისტრაცია;
                    </br>
                    <strong>8:30-9:00</strong> - საცდელი ტური
                    </br>
                    <strong>9:00-14:00</strong> - ძირითადი ტური
                </p>

               
                <p>
                    <strong>9 აპრილი</strong> - მეორე ტური:</br>
                    <strong>9:00</strong> - მონაწილეთა უნივერსიტეტში გამოცხადების დრო;
                    </br>
                    <strong>9:00-9:30</strong> - მონაწილეთა რეგისტრაცია;
                    </br>
                    <strong>9:30-10:00</strong> - საცდელი ტური
                    </br>
                    <strong>10:00-15:00</strong> - ძირითადი ტური
                </p>

                <p>
                    <strong>10 აპრილი</strong> - აპელაციების მიღება და განხილვა
                </p>

                <p>
                    <strong>11 აპრილი</strong> - ნაკრების შემადგენლობის გამოცხადება
                </p>

                <p>
                    <strong>
                        მონაწილეებმა რეგისტრაციის დროს თან უნდა იქონიონ ან პირადობის

                        დამადასტურებელი, ან დაბადების მოწმობა (ქსეროასლი).
                    </strong>
                </p>

                <p>
                    მისამართი: დ. აღმაშენებლის ხეივანი, მე-13 კმ, #2
                </p>

            <p>
                <strong>"საინფორმაციო ტექნოლოგიების სწავლების და ინფორმატიკის ოლიმპიადების მხარდამჭერი ასოციაცია" გისურვებთ წარმატებებს.</strong>
</p>

                

            </div> <!-- /.box-content-inner -->
        </div>

        <div class="list-event-item">
            <div class="box-content-inner clearfix">

                <div class="list-event-header">
                    <span class="event-date small-text"><i class="fa fa-calendar-o"></i>4 აპრილი, 2017</span>
                </div>
                <h5 class="event-title">შესარჩევ ტურში გადასული მოსწავლეების სია</h5>

                <p>
                    ალექსანდრე სხირტლაძე</br>
                    ალექსანდრე ხარაბაძე</br>
                    ალექსანდრე ხოხიაშვილი</br>
                    ანა ონოფრიშვილი</br>
                    არჩილ ბასაძიშვილი</br>
                    ბაქარ გამეზარდაშვილი</br>
                    ბექა გრძელიშვილი</br>
                    გიორგი კლდიაშვილი</br>
                    გიორგი კობახია</br>
                    გიორგი ჩხაიძე</br>
                    გურამ კოკაია</br>
                    დავით მემარნიშვილი</br>
                    დავით ხვედელიძე</br>
                    ვანო გამეზარდაშვილი</br>
                    ვახტანგი კოტორეიშვილი</br>
                    თამარ კორკოტაშვილი</br>
                    თეიმურაზი თოლორაია</br>
                    თემური ყანთელაძე</br>
                    იაკობ რიგვავა</br>
                    იოანე კაპანაძე</br>
                    ლაშა კვატაშიძე</br>
                    ლექსო ბორაშვილი</br>
                    ლუკა გოგოლაძე</br>
                    მარია ცხვედიანი</br>
                    ნიკა ბირკაძე</br>
                    ნიკა სალია</br>
                    ნიკოლოზ შალიკიანი</br>
                    ნიკოლოზ შარიქაძე</br>
                    საბა თავდგირიძე</br>



                </p>


            </div> <!-- /.box-content-inner -->
        </div>


        <div class="list-event-item">
            <div class="box-content-inner clearfix">

                <div class="list-event-header">
                    <span class="event-date small-text"><i class="fa fa-calendar-o"></i>4 აპრილი, 2017</span>
                </div>
                <h5 class="event-title">დასკნითი ტურის საბოლოო შედეგები</h5>

                <p>
                    გთავაზობთ დასკვნითი ტურის საბოლოო შედეგებს:
                </p>

                <p>
                    <a href="~/files/results/7-8finals.pdf">I ასაკობრივი კატეგორია 7-8 </a> </br>
                    <a href="~/files/results/9-10finals.pdf">II ასაკობრივი კატეგორია 9-10</a> </br>
                    <a href="~/files/results/11-12 finals d12.pdf">III ასაკობრივი კატეგორია 11-12</a> </br>
                </p>

                <p>
                    გამარჯვებულების გამოვლენის წესი იხილეთ შესაბამის პუნქტში - <a href="~/Home/About">ოლიმპიადის შესახებ</a>
                </p>

                <p>
                    "საინფორმაციო ტექნოლოგიების სწავლების და ინფორმატიკის ოლიმპიადების მხარდამჭერი ასოციაცია" ულოცავს გამარჯვებულებს, ხოლო დანარჩენებს, უსურვებს მომავალ წარმატებებს.


                </p>

                
            </div> <!-- /.box-content-inner -->
        </div>

        <div class="list-event-item">
            <div class="box-content-inner clearfix">

                <div class="list-event-header">
                    <span class="event-date small-text"><i class="fa fa-calendar-o"></i>29 მარტი, 2017</span>
                </div>
                <h5 class="event-title">დასკვნითი ტური</h5>

                <p>
                    ინფორმატიკის ეროვნული ტურნირის დასკვნითი ტური გაიმართება თბილისში,

                    საქართველოს უნივერსიტეტში <strong>1 და 2 აპრილს</strong>. შაბათის განრიგი ასეთია:
                </p>

                <p>
                <strong>8:00</strong> - მონაწილეთა უნივერსიტეტში გამოცხადების დრო;
                </br>
                <strong>8:00-8:30</strong> - მონაწილეთა რეგისტრაცია;
                </br>
                <strong>8:30-9:00</strong> - საცდელი ტური
                </br>
                <strong>9:00-14:00</strong> - ძირითადი ტური
                </p>

                <p>კვირის განრიგი ასეთია:</p>
                <p>
                    <strong>8:30</strong> - მონაწილეთა უნივერსიტეტში გამოცხადების დრო;
                    </br>
                    <strong>8:30-9:00</strong> - მონაწილეთა რეგისტრაცია;
                    </br>
                    <strong>9:00-9:30</strong> - ოლიმპიადის გახსნა;
                    </br>
                    <strong>9:30-10:00</strong> - საცდელი ტური
                    </br>
                    <strong>10:00-15:00</strong> - ძირითადი ტური
                </p>


                <p>
                    გახსნის ცერემონიაზე მოწვეული არიან საქართველოს განათლებისა და

                    მეცნიერების სამინისტროს, რამდენიმე წამყვანი უნივერსიტეტის და სპონსორი

                    ორგანიზაციების წარმომადგენლები.
                </p>

                <p>
                    <strong>
                        მონაწილეებს გთხოვთ დროულად გამოცხადდეთ ოლიმპიადაზე. დაგვიანებული მოსწავლეები შეჯიბრზე არ დაიშვებიან! 
                    </strong>
                </p>

                <p><strong>
                       სასურველია გახსნის ცერემონიას ესწრებოდნენ ყველა ასაკობრივი ჯგუფის

                       წარმომადგენლები და მათი მშობლები.
                </strong></p>

                <p>
                    შეგახსენებთ, რომ შაბათს გაიმართება ტური უფროსი (I ტური) და საშუალო

                    ასაკობრივი ჯგუფებისათვის, ხოლო კვირას - უფროსი (II ტური) და უმცროსი

                    ასაკობრივი ჯგუფებისათვის.
                </p>

                <p>
                    უმცროსი და საშუალო ასაკობრივი ჯგუფის მოსწავლეებს მათთვის თავისუფალ

                    დღეს (შაბათს და კვირას შესაბამისად) შეუძლიათ კონკურსგარეშე მონაწილეობა

                    მიიღონ მათთვის სასურველ ასაკობრივი ჯგუფის კონტესტში. ამისათვის

                    საჭიროა ტურამდე 30 წუთით ადრე იქვე გაიარონ რეგისტრაცია.
                </p>

                <p>
                    <strong>
                        მონაწილეებმა რეგისტრაციის დროს თან უნდა იქონიონ ან პირადობის

                        დამადასტურებელი, ან დაბადების მოწმობა (ქსეროასლი).
                    </strong>
                </p>

                <p>
                    მისამართი: კოსტავას 77ა
                </p>
                    
                <iframe src="https://www.google.com/maps/d/u/0/embed?mid=14R_arCZOmW08avMNWNpfMJSIaPg" width=100% height="480"></iframe>
            
            </div> <!-- /.box-content-inner -->
        </div>


        <div class="list-event-item">
            <div class="box-content-inner clearfix">

                <div class="list-event-header">
                    <span class="event-date small-text"><i class="fa fa-calendar-o"></i>25 მარტი, 2017</span>
                </div>
                <h5 class="event-title">დაუსწრებელი ტურის შედეგები</h5>

                <p>
                    დაუსწრებელი ტურის საბოლოო შედეგები შეგიძლიათ იხილოთ მიმაგრებულ ფაილებში:
                </p>
                
                <p>
                    <a href="~/files/results/7-8results.pdf">I ასაკობრივი კატეგორია 7-8 </a> </br>
                    <a href="~/files/results/9-10results.pdf">II ასაკობრივი კატეგორია 9-10</a> </br>
                    <a href="~/files/results/11-12results.pdf">III ასაკობრივი კატეგორია 11-12</a> </br>
                </p>

                <p>
                    დასკვნით ტურში გადავიდა ყველა ის მონაწილე ვინც დააგროვა მინიმუმ 150 ქულა.
                </p>

                <p>
                    დასკვნით ტურში გადასულებს "საინფორმაციო ტექნოლოგიების სწავლების და ინფორმატიკის ოლიმპიადების მხარდამჭერი ასოციაცია" ულოცავს მიღწეულ წარმატებას, ხოლო მათ, ვინც ვერ გადავიდა, უსურვებს მომავალ წარმატებებს.
                </p>

                <p>
                    დასკვნითი ტური ჩატარდება 1 და 2 აპრილს, დაწვრილებითი ინფორმაცია ჩატარების ადგილის და განრიგის შესახებ დაიდება საიტზე უახლოეს დღეებში.
                </p>

            </div> <!-- /.box-content-inner -->
        </div>

        <div class="list-event-item">
            <div class="box-content-inner clearfix">

                <div class="list-event-header">
                    <span class="event-date small-text"><i class="fa fa-calendar-o"></i>24 მარტი, 2017</span>
                </div>
                <h5 class="event-title">დაუსწრებელ ტურამდე ცოტა დრო რჩება</h5>

                <p>
                    შეგახსენებთ, დაუსწრებელი ტური ჩატარდება დღეს 24 მარტს:
                </p>
                <p>
                    <strong>16:00 - 16:30</strong> საცდელი ტური <br />
                    <strong>16:30 - 19:30</strong> დაუსწრებელი ტური სამივე ასაკობრივი კატეგორიისათვის <br />
                </p>

                <p>
                    სატესტო ტურში შესასვლელი ბმული: <a href="http://213.157.215.237/cgi-bin/new-client?contest_id=56">Practice</a>

                </p>


                <p>
                    ძირითად ტურში შესასვლელი ბმულები: </br>
                    <a href="http://213.157.215.237/cgi-bin/new-client?contest_id=57">მე-7, მე-8 კლასები</a> </br>
                    <a href="http://213.157.215.237/cgi-bin/new-client?contest_id=58">მე-9, მე-10 კლასები</a> </br>
                    <a href="http://213.157.215.237/cgi-bin/new-client?contest_id=59">მე-11, მე-12 კლასები</a> </br>
                </p>
                <p>
                    ძირითად ტურში ჯამური გაგზავნების მაქსიმალური რაოდენობა არის 60.
                </p>
                <p>
                    თუ პრობლემები შეგექმნათ სისტემაში ავტორიზაციასთან დაკავშირებით მოგვმართეთ <strong>gsaghinadze@gmail.com</strong> - ზე.
                </p>
            </div> <!-- /.box-content-inner -->
        </div>

        <div class="list-event-item">
            <div class="box-content-inner clearfix">

                <div class="list-event-header">
                    <span class="event-date small-text"><i class="fa fa-calendar-o"></i>22 მარტი, 2017</span>
                </div>
                <h5 class="event-title">რეგისტრაცია დაუსწრებელი ტურისთვის</h5>
                <p>
                    საქართველოს განათლებისა და მეცნიერების სამინისტროს დაკვეთით 2017 წელს “საინფორმაციო ტექნოლოგიების სწავლების და ინფორმატიკის ოლიმპიადების მხარდამჭერი ასოციაცია” საკუთარი დაფინანსებით ორგანიზებას უწევს ტურნირს ეროვნულ დონეზე ინფორმატიკაში და ასევე, აკომპლექტებს საქართველოს ეროვნულ ნაკრებს, რომელიც გაემგზავრება ინფორმატიკის საერთაშორისო ოლიმპიადაზე (IOI) ირანში. საერთაშორისო ოლიმპიადაში მონაწილეობა და ნაკრების გამგზავრება ირანში სრულად არის დაფინანსებული.
                </p>
                <p>
                    <b>
                        ცხადდება რეგისტრაცია დაუსწრებელ (ONLINE) ტურში მონაწილეობის მსურველთათვის, რომელიც გაიმართება 2017 წლის 24 მარტს საღამოს 16:00 საათზე. რეგისტრაციის გასავლელად დააჭირეთ <a href="~/Account/Register">აქ</a> და შეავსეთ სარეგისტრაციო ფორმის ყველა ველი. რეგისტრაციის ბოლო ვადაა 2017 წლის 23 მარტის ღამის 23:00 საათამდე.
                    </b>
                </p>

                <p>
                    დაუსწრებელი ტურის ჩატარების განრიგი შემდეგია: <br />
                    <strong> 22 მარტი 13:00 </strong>- რეგისტრაციის დაწყება <br />
                    <strong> 23 მარტი 23:00 </strong>- რეგისტრაციის დასრულება <br />
                    <strong> 24 მარტი 16:00 - 16:30 </strong>- საცდელი ტური <br />
                    <strong> 24 მარტი 16:30 - 19:30 </strong> - დაუსწრებელი ტური სამივე ასაკობრივი კატეგორიისათვის <br />
                </p>

                <p>
                    სისტემაში შესასვლელი ბმულები დაიდება შეჯიბრის დაწყებამდე ცოტა ხნით ადრე.
                </p>

                <p>
                    რეგისტრაციის პროცესში რაიმე პრობლემების წარმოქმნის შემთხვევაში მოგვმართეთ შემდეგ მისამართზე: <strong>gsaghinadze@gmail.com</strong>
                </p>
                <p>
                    დაუსწრებელი ტურის პირველადი შედეგები დაიდება 24 მარტს 22:00 საათამდე. შედეგებთან დაკავშირებით საპრეტენზიო განაცხადები მიიღება 25 მარტის 15:00 საათამდე. 25 მარტს, 23:00 საათზე საიტზე დაიდება ონლაინ ტურის საბოლოო შედეგები.
                </p>
                <p>
                    ტურნირისა და მისი ჩატარების წესების შესახებ დაწვრილებითი ინფორმაცია იხილეთ მენიუს პუნქტებში „ოლიმპიადის შესახებ“ და „ინსტრუქცია“.
                </p>
                <p>
                    <strong>
                        “საინფორმაციო ტექნოლოგიების სწავლების და ინფორმატიკის ოლიმპიადების მხარდამჭერი ასოციაცია” გისურვებთ წარმატებებს!!!
                    </strong>
                </p>
            </div> <!-- /.box-content-inner -->
        </div> <!-- /.list-event-item -->
    </div> <!-- /.col-md-8 -->
    <!-- Here begin Sidebar -->


</div> <!-- /.row -->

