@{
    ViewData["Title"] = "ინსტრუქცია";
}

<div class="row">
    <div class="col-md-12">
        <div class="widget-item">
            <h2 class="welcome-text">ინსტრუქცია</h2>
            <p>
                საცდელი ტურის დაწყების შემდეგ ჩვენს საიტზე დაიდება სისტემაში შესასვლელი ბმულები. შეგახსენებთ, რომ სისტემაში შესასვლელად დაგჭირდებათ მომხმარებლის სახელი და პაროლი, რომელიც რეგისტრაციის დროს გადმოგეცათ.
            </p>
            <p>გთხოვთ, გაეცანით მატესტირებელი სისტემის ინსტრუქციას <a href= "~/files/instruction.pdf" target="_blank">აქ</a>.</p>
            <p>ოლიმპიადის ონლაინ ტურის წინასწარი შედეგები ცნობილი გახდება იმავე დღეს. საპრეტენზიო განაცხადები მიიღება ტურის ჩატარების მეორე დღის 15:00 საათამდე შემდეგი ფორმის მიხედვით: <a href="~/files/apelacia.docx" target="_blank">საპრეტენზიო განაცხადი</a></p>
            <p>ქვემოთ მოცემულ ბმულზე შეგიძლიათ იხილოთ ინფორმატიკის ოლიმპიადის წინა წლების ამოცანები და ამოხსნები: </p>
            <p><a href="~/files/online/informatics_2013.rar" target="_blank">ინფორმატიკა 2013.</a></p>
            <p><a href="~/files/online/informatics_2014.rar" target="_blank">ინფორმატიკა 2014.</a></p>
            <p><a href="~/files/online/informatics_2015.rar" target="_blank">ინფორმატიკა 2015.</a></p>
        </div> <!-- /.widget-item -->
    </div> <!-- /.col-md-12 -->
</div>
